<html>
  <head>
    <link rel='stylesheet' href='/public/styles.css' />
  </head>
  <body style='font-family: verdana'>
    <h1>Acme Users and Departments Sequelize</h1>
    {% include './_departmentForm.html' %}
    {% include './_userForm.html' %}

    <br clear='all' />
    <table width='100%'>
      <tr>
        <th>Departments</th>
        <th>Users</th>
      </tr>
      <tr valign='top'>
      <td width='50%'>
        {% include './_departmentsList.html' %}
      </td>
      <td width='50%'>
        {% include './_usersList.html' %}
      </td>
      </tr>
    </table>
    <br />
    <pre style='background-color: #efefef; padding: 20px; border-radius: 5px;'>
files
  server.js (~40 lines)
  views/index.html
  views/_departmentForm.html
  views/_userForm.html
  views/_usersList.html
  views/_userItem.html
  views/_departmentsList.html
  routes
    users.js (~30 lines)
      POST /
      DELETE /:id
      DELETE  /:userId/user_departments/:id
      POST /:userId/user_departments
    departments.js (~20 lines)
      POST /
      DELETE /:id
    db
      db.js
      index.js
        seed
        sync
      User.js (~30 lines)
        instanceMethods:
          hasAllDepartments
          hasNoDepartments
          hasDepartment
          getUserDepartment
      Department.js (~10 lines)
      UserDepartment.js (~10 lines)
    </pre>
  </body>
</html>
